<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>ANTi-MATRiX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    body{
      
    }
    a{
        color: white;
        font-size: 1.7vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .card-body{
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 2vw;
        width: 30vw;
        margin-left: 33vw;
       }

  </style>
  
</head>
<body style="background-image: url('{% static "img/home.jpg" %}'); background-repeat:no-repeat; background-size: cover; ">
    <nav class="navbar navbar-expand-md nav-pills">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h2>ANTi-MATRiX</h2>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'adminhome' %}">Home</a>
                </li>
               
            </ul>
        </div>
    </nav>
      {% block content %}
      <div class="card-body">
        <h2 class="text-center">Student Entry</h2>
       <form action="{% url 'edit_stu' student.id %}" method="POST">
        {% csrf_token %}
      
        <div class="was-validated">
            <div class="form-group">
                <label for="sname">Name:</label>
                <input class="form-control" type="text" name="sname" id="sname" value="{{student.sname}}" required> 
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input class="form-control" type="text" name="age" id="age" value="{{student.age}}" required>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <textarea name="address" id="address" cols="30" rows="3" class="form-control" required>{{student.address}}</textarea>
                {% comment %} <input class="form-control" type="text" name="address" id="address" required> {% endcomment %}
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>
            </div>
          <div>
            <select name="sel" id="sel" class="form-control">
                <option value="{{student.course.id}}" hidden>{{student.course.course_name}}</option> 
              {% for c in courses  %}
              <option value="{{c.id}}">{{c.course_name}}</option>
              {% endfor %}
          </select>
          </div>
            <br>
            
            <div><center>
                <input type="submit" name="submit" class="btn btn-primary w-100" id=""><br></center>
                <br>
            </div>
            
        </div>
       </form>
      </div> <br>
      <a href="{% url 'adminhome' %}" class="btn btn-success text-center" style="margin-left:45vw;">Back</a>
      {% endblock %}
</body>
</html>