<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>ANTi-MATRiX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    body{
      
    }
    a{
        color: white;
        font-size: 1.7vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .container-fluid{
      margin-left:3vw;
      margin-top:15vw;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

  </style>
  
</head>
<body style="background-image: url('{% static "img/home.jpg" %}'); background-repeat:no-repeat; background-size: cover; ">
    <nav class="navbar navbar-expand-md nav-pills">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h2 class="text-white">ANTi-MATRiX</h2>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'adminhome' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'addstudent' %}">Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course' %}">Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_det' %}">Teacher Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_det' %}">Student Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
      {% block content %}
      <h1 class="text-center text-primary">Student Details</h1>
    <table  class="table table-borderless table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <td>Student Name</td>
                <td>Student Addrsss</td>
                <td>Student Age</td>
                <td>Student Course</td>
                <td>Fees </td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody class="table-success">
            {% for s in studen %}
            <tr>
                <td>{{s.sname}}</td>
                <td>{{s.address}}</td>
                <td>{{s.age}}</td>
                <td>{{s.course.course_name}}</td>
                <td>{{s.course.fees}}</td>
                <td>
                    <a href="{% url 'edit_student' s.id %}" class="btn btn-warning"><i class="fas fa-edit"></i>Edit</a>
                    <a href="{% url 'delete_student' s.id %}" class="btn btn-warning"><i class="fas fa-trash"></i>Delete</a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
    <a href="{% url 'addstudent' %}" style="margin-left: 45vw; padding: 1vw; border-radius: 1vw;" class="bt btn-primary"><i class="fas fa-cross"></i>ADD</a> <br>
      {% endblock %}
</body>
</html>